#dispose {
    // top: 50%;
    // left: 50%;
    // width: 800px;
    // margin-left: -400px;
    // height: 600px;
    // margin-top: -300px;
    font-size: 14px;
    // overflow: hidden;
    .modal-lg {
        // margin: 0;
        // width: 100%;
        .modal-content {
            width: 800px;
            height: 600px;
            margin: 0 auto;
            border-radius: 8px;
            overflow: hidden;
            .modal-header {
                height: 40px;
                background: #344052;
                color: #fff;
                padding: 0;
                margin: 0;
                h3 {
                    line-height: 40px;
                    font-size: 16px;
                    text-align: center;
                    margin: 0;
                    a {
                        color: #fff;
                        margin-top: 6px;
                        margin-right: 10px;
                        font-weight: none;
                        opacity: 1;
                    }
                }
            }
            .modal-body {
                padding: 20px 20px 0 20px;
                overflow-y: auto;
                height: 510px;
                textarea {
                    resize: none;
                }
                .form_task {
                    background: #fff;
                    border-radius: 5px;
                    padding-bottom: 20px;
                    padding-top: 1px;
                    min-height: 490px;
                    color: #636363;
                    .form_part {
                        width: 50%;
                        float: left;
                    }
                    .has-feedback {
                        .form-control {
                            padding-right: 38px;
                            background: #fff;
                            cursor: pointer;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .form-control-feedback {
                            right: 20px;
                        }
                    }
                    .form_list {
                        overflow: hidden;
                        line-height: 30px;
                        margin-top: 15px;
                        #datetime {
                            margin: 0;
                        }
                        .list_left {
                            width: 80px;
                            float: left;
                        }
                        .list_right {
                            margin-left: 80px;
                            width: auto;
                            padding: 0 20px 0 10px;
                            .form_radio {
                                overflow: hidden;
                                margin-bottom: 15px;
                                .form_radio_l {
                                    width: 80px;
                                    float: left;
                                    label {
                                        cursor: pointer;
                                    }
                                    .pay_list_c1 {
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        display: inline-block;
                                        text-align: center;
                                        background: url(/src/images/event/radio_n.png) no-repeat;
                                        background-size: 100% 100%;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                    }
                                    .on {
                                        background: url(/src/images/event/radio.png) no-repeat;
                                        background-size: 100% 100%;
                                    }
                                    .radioclass {
                                        opacity: 0;
                                        cursor: pointer;
                                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                                        filter: alpha(opacity=0);
                                        width: 100%;
                                        height: 100%;
                                        display: inline-block;
                                    }
                                }
                                .form_radio_r {
                                    margin-left: 80px;
                                    width: auto;
                                    p {
                                        color: #979797;
                                        padding-left: 10px;
                                    }
                                    .form-control-feedback {
                                        right: 0;
                                    }
                                }
                            }
                        }
                        .form_part {
                            .radio,
                            .checkbox {
                                margin: 0;
                                margin-left: 80px;
                                input {
                                    top: 6px;
                                    outline: none;
                                }
                            }
                        }
                    }
                    .feedback_img {
                        padding-top: 10px;
                        .feedback_img_list {
                            float: left;
                            .feedback_images {
                                width: 104px;
                                height: 78px;
                                float: left;
                                margin-right: 20px;
                                position: relative;
                                img {
                                    width: 104px;
                                    height: 78px;
                                }
                                span {
                                    width: 28px;
                                    height: 28px;
                                    cursor: pointer;
                                    background: url(/src/images/event/close.png) no-repeat;
                                    display: inline-block;
                                    *display: inline;
                                    *zoom: 1;
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    margin-right: -12px;
                                    margin-top: -10px;
                                }
                            }
                        }
                        .feedback_img_file {
                            display: none;
                        }
                        .feedback_img_add {
                            width: 104px;
                            height: 78px;
                            float: left;
                            span {
                                width: 104px;
                                height: 78px;
                                display: inline-block;
                                *display: inline;
                                *zoom: 1;
                                font-size: 16px;
                                cursor: pointer;
                            }
                            input {
                                display: none;
                            }
                        }
                    }
                    .textarea_text {
                        position: relative;
                        textarea {
                            resize: none;
                            height: 120px;
                            position: relative
                        }
                        .text_num {
                            color: #999;
                            position: absolute;
                            bottom: 2px;
                            right: 30px;
                        }
                    }
                }
                .form_line {
                    border-bottom: 1px solid #ddd;
                    margin-top: 20px;
                }
            }
            .modal-footer {
                text-align: center;
                background: #344052;
                height: 50px;
                padding: 0;
                margin: 0;
                button {
                    height: 36px;
                    border: none;
                    width: 120px;
                    margin-top: 7px;
                    font-size: 16px;
                    margin: 7px 30px 0 30px;
                }
                .submit {
                    background: #59b6fc;
                    color: #fff;
                }
            }
        }
    }
}

#stakeholder {
    @extend #dispose;
    .modal-lg {
        .modal-content {
            width: 500px;
        }
    }
}