.forgotPassword {
    .bottom1 {
        width: 760px;
        height: 171px;
        display: none;
        margin-top: 60px;
    }
    .bottom2 {
        width: 760px;
        height: 228px;
        display: none;
        margin-top: 60px;
    }
    .bottom3 {
        width: 760px;
        height: 200px;
        display: none;
        margin-top: 60px;
    }
    .bottom4 {
        width: 100%;
        height: 240px;
        display: none;
        .finish {
            width: 84px;
            height: 164px;
            margin: 0 auto;
            margin-bottom: 50px;
            background: #fff;
            background: url(/src/images/forgetImg/Fabulous.png) no-repeat 0 80px;
        }
        .success {
            width: 300px;
            height: 25px;
            line-height: 25px;
            font-size: 20px;
            text-align: center;
            color: #666;
            margin: 0 auto;
        }
    }
    .btn1,
    .btn2,
    .btn3,
    .btn4 {
        width: 302px;
        height: 35px;
        margin: 0 auto;
        input {
            width: 100%;
            background: #5EB6F9;
            color: #fff;
            font-size: 20px;
            line-height: 35px;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .Notes {
        width: 300px;
        height: 35px;
        text-align: left;
        // margin-top: 10px;
        display: none;
        // background: red;
        font-size: 14px;
        line-height: 35px;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: #5EB6F9;
        }
    }
}