#page-wrapper {
    background: #edf1f2;
    $seaH: 36px;
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    input,
    button {
        outline: none;
    }
    .event_map {
        #event_map {
            height: 250px;
            // display: none;
            border-bottom: 1px solid #ddd;
            position: relative;
            top: 0;
            left: 0;
        }
        .bottom_btn {
            position: relative;
            height: 20px;
            #drafting_down {
                background: #344052;
                height: 3px;
                cursor: n-resize;
            }
            span {
                display: inline-block;
                height: 14px;
                width: 44px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -22px;
            }
            .map_up {
                background: url(/src/images/event/map_up.png) no-repeat;
            }
            .map_down {
                background: url(/src/images/event/map_down.png) no-repeat;
            }
        }
    }
    .wrapper-main {
        padding: 0 15px;
    }
    .screening {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e1e5e6;
        padding: 12px 10px;
        box-shadow: 2px 1px #e1e5e6;
        font-size: 14px;
        .select_btn {
            width: 100%;
            label {
                width: 33%;
                height: $seaH;
                line-height: $seaH;
                padding: 0;
                color: #999;
                border-color: #e3e2e2;
            }
            .active {
                color: #59b6fc;
                background: #ecf7ff;
                border-color: #59b6fc;
            }
        }
        .input_append {
            width: 100%;
            .search-query {
                height: $seaH;
                border-radius: 18px 0 0 18px;
                border: 1px solid #e3e2e2;
                vertical-align: middle;
                // padding-left: 25px;
                text-indent: 25px;
                width: 70%;
            }
            input::-webkit-input-placeholder {
                background: url(/src/images/event/search.png) 6px center no-repeat;
            }
            input:-moz-placeholder {
                background: url(/src/images/event/search.png) 6px center no-repeat;
            }
            input::-moz-placeholder {
                background: url(/src/images/event/search.png) 6px center no-repeat;
            }
            input:-ms-input-placeholder {
                background: url(/src/images/event/search.png) 6px center no-repeat;
            }
            button[type=submit] {
                background: #59b6fc;
                height: $seaH;
                line-height: $seaH;
                border: none;
                color: #fff;
                display: inline-block;
                // padding: 0 15px;
                border-radius: 0 18px 18px 0;
                width: 30%;
                text-align: center;
                padding: 0;
            }
        }
        .btn_search {
            border: 1px solid #59b6fc;
            background: #ecf7ff;
            color: #59b6fc;
            height: $seaH;
            line-height: $seaH;
            padding: 0 15px;
            border-radius: 18px;
        }
        .nav_main {
            background: #f7f7f7;
            border: 1px solid #e3e2e2;
            margin-top: 10px;
            padding: 20px 0;
            font-size: 14px;
            color: #666;
            position: relative;
            display: none;
            b.org_bot_cor {
                width: 0;
                height: 0;
                font-size: 0;
                border-width: 0 10px 10px;
                border-style: solid;
                border-color: transparent transparent #e3e2e2;
                // _border-color: red white white;
                position: absolute;
                right: 42px;
                top: -10px;
                i {
                    display: block;
                    width: 0;
                    height: 0;
                    border-width: 0 10px 10px;
                    border-style: solid;
                    border-color: transparent transparent #f7f7f7;
                    position: absolute;
                    top: 1px;
                    left: -10px;
                }
            }
            .row {
                line-height: 48px;
                .main_list {
                    span {
                        color: #000;
                        cursor: pointer;
                        margin-right: 30px;
                        i {
                            color: #bbb;
                            margin-left: 5px;
                        }
                        &:hover {
                            color: #59b6fc;
                            i {
                                color: #59b6fc;
                            }
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                    .active {
                        color: #59b6fc;
                        i {
                            color: #59b6fc;
                        }
                    }
                    .form_datetime {
                        height: 36px;
                        line-height: 36px;
                        border-radius: 5px;
                        border: 1px solid #e3e2e2;
                        cursor: pointer;
                    }
                }
            }
            .status_list {
                display: none;
            }
        }
    }
    .data_tab {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e1e5e6;
        padding: 0px 10px 12px 10px;
        box-shadow: 2px 1px #e1e5e6;
        font-size: 14px;
        margin-top: 15px;
        .location {
            i {
                display: inline-block;
                width: 16px;
                height: 20px;
                background: url(/src/images/event/map.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/event/map_h.png) no-repeat;
                }
            }
            .active {
                background: url(/src/images/event/map_h.png) no-repeat;
            }
        }
        .check {
            i {
                display: inline-block;
                width: 22px;
                height: 16px;
                background: url(/src/images/event/look.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/event/look_h.png) no-repeat;
                }
            }
        }
    }
}

#addEvent {
    // top: 50%;
    // left: 50%;
    // width: 800px;
    // margin-left: -400px;
    // height: 600px;
    // margin-top: -300px;
    border-radius: 8px;
    font-size: 14px;
    // overflow: hidden;
    .modal-lg {
        // margin: 0;
        // width: 100%;
        .modal-content {
            width: 800px;
            height: 600px;
            margin: 0 auto;
            .modal-header {
                height: 38px;
                background: #344052;
                color: #fff;
                padding: 0;
                margin: 0;
                h3 {
                    line-height: 40px;
                    font-size: 16px;
                    text-align: center;
                    margin: 0;
                    a {
                        color: #fff;
                        margin-top: 6px;
                        margin-right: 10px;
                        font-weight: none;
                        opacity: 1;
                    }
                }
            }
            .modal-body {
                padding: 20px 20px 0 20px;
                overflow-y: auto;
                height: 510px;
                .event_form {
                    background: #fff;
                    border-radius: 5px;
                    padding-bottom: 20px;
                    min-height: 490px;
                    color: #636363;
                    .form_part {
                        width: 50%;
                        float: left;
                    }
                    .has-feedback {
                        .form-control {
                            padding-right: 38px;
                            background: #fff;
                            cursor: pointer;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .form-control-feedback {
                            right: 20px;
                        }
                    }
                    .form_list {
                        overflow: hidden;
                        line-height: 30px;
                        margin-top: 15px;
                        .list_left {
                            width: 80px;
                            float: left;
                        }
                        .list_right {
                            margin-left: 80px;
                            width: auto;
                            padding: 0 20px 0 10px;
                            .form_radio {
                                overflow: hidden;
                                margin-bottom: 15px;
                                .form_radio_l {
                                    width: 80px;
                                    float: left;
                                    label {
                                        cursor: pointer;
                                    }
                                    .pay_list_c1 {
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        display: inline-block;
                                        text-align: center;
                                        background: url(/src/images/event/radio_n.png) no-repeat;
                                        background-size: 100% 100%;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                    }
                                    .on {
                                        background: url(/src/images/event/radio.png) no-repeat;
                                        background-size: 100% 100%;
                                    }
                                    .radioclass {
                                        opacity: 0;
                                        cursor: pointer;
                                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                                        filter: alpha(opacity=0);
                                        width: 100%;
                                        height: 100%;
                                        display: inline-block;
                                    }
                                }
                                .form_radio_r {
                                    margin-left: 80px;
                                    width: auto;
                                    p {
                                        color: #979797;
                                        padding-left: 10px;
                                    }
                                    .form-control-feedback {
                                        right: 0;
                                    }
                                }
                            }
                            #eventType {
                                option {
                                    line-height: 30px;
                                }
                            }
                        }
                        .textarea_text {
                            position: relative;
                            textarea {
                                resize: none;
                                height: 120px;
                                position: relative
                            }
                            .text_num {
                                color: #999;
                                position: absolute;
                                bottom: 2px;
                                right: 30px;
                            }
                        }
                    }
                    .feedback_img {
                        padding-top: 10px;
                        .feedback_img_list {
                            float: left;
                            .feedback_images {
                                width: 104px;
                                height: 78px;
                                float: left;
                                margin-right: 20px;
                                position: relative;
                                img {
                                    width: 104px;
                                    height: 78px;
                                }
                                span {
                                    width: 28px;
                                    height: 28px;
                                    cursor: pointer;
                                    background: url(/src/images/event/close.png) no-repeat;
                                    display: inline-block;
                                    *display: inline;
                                    *zoom: 1;
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    margin-right: -12px;
                                    margin-top: -10px;
                                }
                            }
                        }
                        .feedback_img_file {
                            display: none;
                        }
                        .feedback_img_add {
                            width: 104px;
                            height: 78px;
                            float: left;
                            span {
                                width: 104px;
                                height: 78px;
                                display: inline-block;
                                *display: inline;
                                *zoom: 1;
                                font-size: 16px;
                                cursor: pointer;
                            }
                            input {
                                display: none;
                            }
                        }
                    }
                }
                .form_line {
                    border-bottom: 1px solid #ddd;
                    margin-top: 20px;
                }
            }
            .modal-footer {
                text-align: center;
                background: #344052;
                height: 50px;
                padding: 0;
                margin: 0;
                button {
                    height: 36px;
                    border: none;
                    width: 120px;
                    margin: 7px 30px 0 30px;
                    font-size: 16px;
                }
                .submit {
                    background: #59b6fc;
                    color: #fff;
                }
            }
        }
    }
}

#event_address {
    @extend #addEvent;
    // width: 600px;
    // height: 400px;
    // margin-left: -300px;
    // margin-top: -200px;
    .modal-lg {
        // margin: 0;
        // width: 100%;
        margin-top: 120px;
        .modal-content {
            width: 600px;
            height: 400px;
            // margin: 0 auto;
            .modal-body {
                height: 310px;
                padding: 0;
                position: relative;
                #address_map {
                    width: 100%;
                    height: 100%;
                }
                .map_search {
                    position: absolute;
                    top: 10px;
                    height: 36px;
                    width: 100%;
                    .search_btn {
                        display: inline-block;
                        width: 64%;
                        line-height: 36px;
                        position: relative;
                        .search_btn_r {
                            width: 80px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            span {
                                width: 100%;
                                background: #59b6fc;
                                height: 36px;
                                line-height: 36px;
                                border: none;
                                color: #fff;
                                display: inline-block;
                                border-radius: 0 18px 18px 0;
                                text-align: center;
                                padding: 0;
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                        .search_btn_l {
                            width: auto;
                            margin-right: 80px;
                            input[type='text'] {
                                width: 100%;
                                height: 36px;
                                border-radius: 18px 0 0 18px;
                                border: 1px solid #e3e2e2;
                                text-indent: 25px;
                                outline: none;
                            }
                            input::-webkit-input-placeholder {
                                background: url(/src/images/event/search.png) 6px center no-repeat;
                            }
                            input:-moz-placeholder {
                                background: url(/src/images/event/search.png) 6px center no-repeat;
                            }
                            input::-moz-placeholder {
                                background: url(/src/images/event/search.png) 6px center no-repeat;
                            }
                            input:-ms-input-placeholder {
                                background: url(/src/images/event/search.png) 6px center no-repeat #fff;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                background: #fff;
                span {
                    display: inline-block;
                    margin-top: 7px;
                    height: 36px;
                    line-height: 36px;
                    vertical-align: middle;
                }
                input {
                    height: 36px;
                    text-indent: 10px;
                    margin-top: 7px;
                    vertical-align: middle;
                    width: 340px;
                }
                button {
                    background: #59b6fc;
                    color: #fff;
                    margin: 7px 0 0 0;
                }
            }
        }
    }
}

#stakeholder {
    @extend #addEvent;
    // width: 500px;
    // margin-left: -250px;
    .modal-lg {
        // margin: 0;
        // width: 100%;
        .modal-content {
            width: 500px;
        }
    }
}