#page-wrapper {
    .container-fluid {
        background: #edf1f2;
        // width: 100%;
        // height: 100%;
    }
    .screening {
        height: 760px;
        font-size: 14px;
        background: #fff;
        border-radius: 5px;
        padding: 12px 10px;
        border: 1px solid #e1e5e6;
        box-shadow: 2px 1px #e1e5e6;
    }
}

.left {
    float: left;
}

.center {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.body,
html {
    width: 100%;
    height: 100%;
    background: #edf1f2;
    // overflow-y: hidden;
}

.kuai1 {
    height: 300px;
}

.kuai2 {
    height: 300px;
    display: none;
}

.kuai3 {
    height: 300px;
    display: none;
}

.changeOne {
    width: 100%;
}

.changeOne ul {
    margin-left: 30px;
    margin-top: 5px;
}

.changeOne ul li {
    list-style: disc;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    word-break: normal;
}

.changeOne h1 {
    // background: url("../images/bzzx_09.png") no-repeat left 2px;
    line-height: 22px;
    font-weight: normal;
    font-size: 18px;
    color: #59b6fc;
    word-break: normal;
}

.changeOne p {
    line-height: 20px;
    font-size: 16px;
    color: #666;
    word-break: normal;
}

.changeOne .bgimg {
    line-height: 24px;
    // background: url("../images/bzzx_12.png") no-repeat left 2px;
    padding-left: 30px;
}

.comcss {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}


/*意见反馈*/

.feedback_main {
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.feedback_area {
    height: 280px;
}

.feedback_area textarea {
    width: 100%;
    height: 210px;
    padding: 20px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 16px;
}

.feedback_area span {
    font-size: 12px;
    color: #ff0000;
    font-family: "宋体";
    margin-top: 2px;
    display: none;
}

.feedback_way {
    height: 90px;
}

.feedback_way input {
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-indent: 1em;
    border: 1px solid #ddd;
    font-size: 16px;
}

.feedback_img {
    float: left;
    padding-top: 10px;
    /*overflow: hidden;*/
}

.feedback_images {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    position: relative;
}

.feedback_images img {
    width: 80px;
    height: 80px;
}

.feedback_images span {
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: url("/src/images/help/close.png") no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: -12px;
    margin-top: -10px;
}

.feedback_img_add {
    width: 80px;
    height: 80px;
}

.feedback_img_add span {
    width: 78px;
    height: 78px;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    color: #bbb;
    line-height: 120px;
    border: 1px solid #dddddd;
    cursor: pointer;
    background: url("/src/images/help/add.png") no-repeat center 20px;
}

.feedback_img_add input {
    display: none;
}

.feedback_btn {
    clear: both;
    padding-top: 30px;
    text-align: center;
    height: 50px;
}

.feedback_btn span {
    width: 280px;
    height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 48px;
    border: 1px solid #3496df;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: #59b6fc;
}

.feedback_success {
    height: 590px;
    display: none;
}

.success_img {
    padding-top: 100px;
    text-align: center;
}

.success_text {
    padding-top: 30px;
}

.success_text p {
    font-size: 20px;
    color: #999;
    line-height: 40px;
    text-align: center;
}

.limit {
    clear: both;
    padding-top: 0.875em;
    font-size: 1.3em;
    color: #999;
}

.jian {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #67BDF6 transparent transparent transparent;
}

.row {
    margin-left: 0;
    margin-right: 0
}