* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #fff;
    width: 100%;
    min-width: 1300px;
    height: 100%;
    min-height: 700px;
    position: relative;
}

.common {
    height: 30px;
    border-left: 1px solid #BBBBBB;
    margin-left: 30px;
    margin-top: 3px;
}

.loginContent {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

#bgcontent {
    width: 100%;
    height: 100%;
    background: url(../images/loginImg/loginbg.jpg);
    background-size: cover;
    .posImg {
        width: 695px;
        height: 433px;
        background: red;
        margin-right: 150px;
        float: left;
        background: url(../images/loginImg/loginsg.png) no-repeat 0 center;
    }
    .poskuai {
        width: 420px;
        height: 480px;
        background: #fff;
        border-radius: 20px;
        margin-top: 80px;
        // margin-left: 60%;
        display: inline-block;
        .logoImg {
            width: 265px;
            height: 150px;
            background: url(../images/loginImg/logo.png) no-repeat 155px 50px;
        }
        .info {
            width: 300px;
            margin-top: 45px;
            margin-left: 60px;
            .name {
                width: 100%;
                height: 35px;
                border: 1px solid #BBBBBB;
                border-radius: 5px;
                .nameImg {
                    width: 30px;
                    height: 35px;
                    float: left;
                    background: url(../images/loginImg/nameImg1.png) no-repeat 8px 8px;
                }
                input {
                    width: 260px;
                    height: 20px;
                    margin-top: 5px;
                    padding-left: 5px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                }
            }
            .hidkuai1 {
                width: 300px;
                height: 30px;
                span {
                    width: 100%;
                    height: 100%;
                    color: red;
                    font-size: 14px;
                    line-height: 30px;
                    // display: none;
                }
            }
            .hidkuai2 {
                width: 300px;
                height: 50px;
                span {
                    width: 100%;
                    height: 100%;
                    color: red;
                    font-size: 14px;
                    line-height: 30px;
                    // display: none;
                }
            }
            .password {
                width: 100%;
                height: 35px;
                // margin-top: 30px;
                border: 1px solid #BBBBBB;
                border-radius: 5px;
                .passwordImg {
                    width: 30px;
                    height: 35px;
                    float: left;
                    background: url(../images/loginImg/password.png) no-repeat 8px 8px;
                }
                input {
                    width: 260px;
                    height: 20px;
                    margin-top: 5px;
                    padding-left: 5px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                }
            }
        }
        .btn {
            width: 300px;
            margin-left: 60px;
            border-radius: 5px;
            height: 35px;
            border: none;
            background: #5EB6F9;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
        .forget {
            width: 100px;
            margin-left: 45px;
            margin-top: 20px;
            border: none;
            outline: none;
            background: #fff;
            color: #5EB6F9;
            font-size: 16px;
        }
        .immediately {
            width: 100px;
            margin-left: 130px;
            margin-top: 20px;
            border: none;
            outline: none;
            background: #fff;
            color: #5EB6F9;
            font-size: 16px;
        }
    }
}

.words {
    // min-width: 500px;
    text-align: center;
    // background: red;
    font-size: 14px;
    color: #666;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    span {
        vertical-align: middle;
        font-size: 26px;
        margin-left: 5px;
        margin-right: 5px
    }
}