                    * {
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    #page-wrapper {
                        background: #edf1f2;
                        .container-fluid {
                            background: #fff;
                            padding-right: 15px;
                            padding-left: 15px;
                            margin: 20px 20px 0px 20px;
                        }
                        .content {
                            margin-top: 20px;
                            #toolbar {
                                .export-all,
                                .inviteuser {
                                    margin: 0 10px;
                                    color: #53b5fc;
                                    font-size: 14px;
                                    cursor: pointer;
                                }
                            }
                            .pull-right {
                                button {
                                    color: #59b6fc;
                                }
                            }
                        }
                    }
                    
                    .remove {
                        background: #59b6fc;
                        color: #fff;
                        height: 36px;
                        line-height: 36px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        padding: 0px 5px;
                        // margin: 5px;
                    }
                    
                    .disabledremove {
                        // background: red;
                        color: #fff;
                        height: 36px;
                        line-height: 36px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        padding: 0px 5px;
                    }