#page-wrapper {
    background: #edf1f2;
    $seaH: 36px;
    // padding: 0 15px 15px;
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    input,
    button {
        outline: none;
    }
    .task_map {
        #task_map {
            height: 250px;
            // display: none;
            border-bottom: 1px solid #ddd;
            position: relative;
            top: 0;
            left: 0;
        }
        .bottom_btn {
            position: relative;
            height: 20px;
            #drafting_down {
                background: #344052;
                height: 3px;
                cursor: n-resize;
            }
            span {
                display: inline-block;
                height: 14px;
                width: 44px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -22px;
            }
            .map_up {
                background: url(/src/images/event/map_up.png) no-repeat;
            }
            .map_down {
                background: url(/src/images/event/map_down.png) no-repeat;
            }
        }
    }
    .wrapper-main {
        padding: 0 15px;
    }
    .data_tab {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e1e5e6;
        padding: 0px 10px 12px 10px;
        box-shadow: 2px 1px #e1e5e6;
        font-size: 14px;
        margin-top: 15px;
        .dealtTask {
            color: #ffffff;
            background: #ffac28;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            border-radius: 10px;
            padding: 0 5px;
        }
        .location {
            i {
                display: inline-block;
                width: 16px;
                height: 20px;
                background: url(/src/images/event/map.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/event/map_h.png) no-repeat;
                }
            }
            .active {
                background: url(/src/images/event/map_h.png) no-repeat;
            }
        }
        .check {
            i {
                display: inline-block;
                width: 22px;
                height: 16px;
                background: url(/src/images/event/look.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/event/look_h.png) no-repeat;
                }
            }
        }
        .management {
            i {
                display: inline-block;
                width: 19px;
                height: 21px;
                background: url(/src/images/task/management.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/task/management_h.png) no-repeat;
                }
            }
        }
        .management_end {
            cursor: default;
            i {
                display: inline-block;
                width: 19px;
                height: 21px;
                background: url(/src/images/task/management_e.png) no-repeat;
                vertical-align: middle;
            }
        }
        .closed {
            i {
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(/src/images/task/closed.png) no-repeat;
                vertical-align: middle;
                &:hover {
                    background: url(/src/images/task/closed_h.png) no-repeat;
                }
            }
        }
        .closed_end {
            cursor: default;
            i {
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(/src/images/task/closed_e.png) no-repeat;
                vertical-align: middle;
            }
        }
    }
}

#details {
    // top: 50%;
    // left: 50%;
    // width: 800px;
    // margin-left: -400px;
    // height: 600px;
    // margin-top: -300px;
    border-radius: 8px;
    font-size: 14px;
    // overflow: hidden;
    .modal-lg {
        // margin: 0;
        // width: 100%;
        .modal-content {
            width: 800px;
            height: 600px;
            margin: 0 auto;
            .modal-header {
                height: 40px;
                background: #344052;
                color: #fff;
                padding: 0;
                margin: 0;
                h3 {
                    line-height: 40px;
                    font-size: 16px;
                    text-align: center;
                    margin: 0;
                    a {
                        color: #fff;
                        margin-top: 6px;
                        margin-right: 10px;
                        font-weight: none;
                        opacity: 1;
                    }
                }
            }
            .modal-body {
                padding: 10px 20px 0 20px;
                overflow-y: auto;
                height: 510px;
                background: #e7e8ec;
                .nav-tabs {
                    padding-left: 30px;
                    li {
                        height: 40px;
                        line-height: 40px;
                        background: #dddddd;
                        margin-right: 10px;
                        width: 140px;
                        text-align: center;
                        a {
                            color: #6c6c6c;
                            margin: 0;
                            padding: 0;
                            display: block;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    .active {
                        a {
                            border-top: 2px solid #59b7fd;
                            color: #59b7fd;
                        }
                    }
                }
                #eventDetails {
                    background: #fff;
                    min-height: 450px;
                    margin-bottom: 10px;
                    border: 1px solid #dbdce0;
                    padding: 20px;
                    border-top: none;
                    .container-fluid {
                        border: 1px solid #ddd;
                        .row {
                            border-bottom: 1px solid #ddd;
                            background: #f7f7f7;
                            &:last-child {
                                border: none;
                            }
                            .details_title {
                                line-height: 36px;
                                padding-right: 10px;
                                color: #666;
                                border-left: 1px solid #ddd;
                                &:first-child {
                                    border-left: none;
                                }
                            }
                            .details_text {
                                line-height: 24px;
                                padding: 6px 10px;
                                background: #fff;
                                min-height: 36px;
                                border-left: 1px solid #ddd;
                                word-wrap: break-word;
                                word-break: normal;
                                p {
                                    margin: 0;
                                }
                                #details_address_map {
                                    height: 200px;
                                    width: 100%;
                                    // display: none;
                                }
                            }
                            .audioPlay {
                                background: url(/src/images/task/play.png) no-repeat;
                                width: 82px;
                                height: 26px;
                                border: none;
                                display: inline-block;
                                outline: none;
                            }
                            .audioPlayIn {
                                background: url(/src/images/task/playIn.gif) no-repeat;
                                width: 82px;
                                height: 26px;
                                border: none;
                                display: inline-block;
                                outline: none;
                            }
                            .details_map_main {
                                padding: 0;
                                p {
                                    padding: 6px 10px;
                                }
                            }
                            .event_pic {
                                overflow: hidden;
                                .event_pic_list {
                                    float: left;
                                    border: 1px solid #f1f1f1;
                                    background: #fff;
                                    margin: 0 6px 10px 0;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                #taskDetails {
                    background: #fff;
                    min-height: 450px;
                    margin-bottom: 10px;
                    border: 1px solid #dbdce0;
                    border-top: none;
                    padding: 10px 20px;
                    .dispose_title {
                        padding-left: 25px;
                        height: 36px;
                        line-height: 36px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #e4e4e4;
                        p {
                            margin: 0;
                        }
                    }
                    .dispose_content {
                        overflow: hidden;
                        background: url(/src/images/task/dian.png) 66px repeat-y;
                        .dispose_date {
                            padding-bottom: 10px;
                            overflow: hidden;
                            &:last-child {
                                background: url(/src/images/task/day.png) 55px bottom no-repeat;
                            }
                            .dispose_day {
                                .day_dian {
                                    width: 90px;
                                    float: left;
                                    height: 25px;
                                    background: url(/src/images/task/day.png) 55px top no-repeat;
                                }
                                .day_time {
                                    width: auto;
                                    line-height: 25px;
                                    margin-left: 90px;
                                    padding-left: 10px;
                                }
                            }
                            .dispose_main {
                                font-size: 14px;
                                color: #61666a;
                                &:last-child {
                                    .dispose_main_r {
                                        border-bottom: 1px solid #e4e4e4;
                                    }
                                }
                                .dispose_main_l {
                                    width: 90px;
                                    float: left;
                                    padding-top: 10px;
                                    background: url(/src/images/task/time.png) 59px 14px no-repeat;
                                    span {
                                        line-height: 26px;
                                    }
                                }
                                .dispose_main_r {
                                    width: auto;
                                    margin-left: 90px;
                                    padding: 10px 10px 0px 10px;
                                    border: 1px solid #fff;
                                    &:hover {
                                        background: #edf7ff;
                                        border: 1px solid #56b8f9;
                                    }
                                    .dispose_info {
                                        overflow: hidden;
                                        margin-bottom: 10px;
                                        .modifyUserName,
                                        .disposeValue {
                                            display: inline-block;
                                            line-height: 26px;
                                            height: 26px;
                                            color: #383838;
                                        }
                                        .info_l {
                                            width: 70px;
                                            float: left;
                                            line-height: 26px;
                                        }
                                        .info_r {
                                            width: auto;
                                            margin-left: 70px;
                                            line-height: 26px;
                                            overflow: hidden;
                                            word-wrap: break-word;
                                            word-break: normal;
                                            .task_pic_list {
                                                float: left;
                                                border: 1px solid #f1f1f1;
                                                background: #fff;
                                                margin: 0 6px 10px 0;
                                                cursor: pointer;
                                            }
                                            .audioPlay {
                                                background: url(/src/images/task/play.png) no-repeat;
                                                width: 82px;
                                                height: 26px;
                                                border: none;
                                                display: inline-block;
                                            }
                                            .audioPlayIn {
                                                background: url(/src/images/task/playIn.gif) no-repeat;
                                                width: 82px;
                                                height: 26px;
                                                border: none;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                text-align: center;
                background: #344052;
                height: 50px;
                padding: 0;
                margin: 0;
                button {
                    height: 36px;
                    border: none;
                    width: 120px;
                    margin-top: 7px;
                    font-size: 16px;
                    margin: 7px 20px 0 20px;
                }
                .submit {
                    background: #59b6fc;
                    color: #fff;
                }
                .disposeTask {
                    background: #59b6fc;
                    color: #fff;
                }
                .closeTask {
                    background: #fbad3e;
                    color: #fff;
                }
            }
        }
    }
}

// #stakeholder {
//     @extend #dispose;
//     width: 500px;
//     margin-left: -250px;
//     .modal-lg {
//         margin: 0;
//         width: 100%;
//         .modal-content {
//             width: 500px;
//         }
//     }
// }