#gf_detail {
    background: #e7e8ec;
    top: 50%;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    height: 600px;
    margin-top: -300px;
    border-radius: 8px;
    font-size: 14px;
    overflow: hidden;
    display: none;
    .modal-header {
        height: 40px;
        background: #344052;
        color: #fff;
        padding: 0;
        margin: 0;
        h3 {
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            margin: 0;
            a {
                color: #fff;
                margin-top: 6px;
                margin-right: 10px;
                font-weight: none;
                opacity: 1;
            }
        }
    }
    .modal-body {
        padding: 20px 20px 0 20px;
        overflow-y: auto;
        height: 510px;
        .details_main {
            background: #fff;
            min-height: 490px;
            border: 1px solid #fcfcfc;
            padding: 20px;
            .container-fluid {
                border: 1px solid #ddd;
                .row {
                    border-bottom: 1px solid #ddd;
                    background: #f7f7f7;
                    &:last-child {
                        border: none;
                    }
                    .details_title {
                        line-height: 36px;
                        padding-right: 10px;
                        color: #666;
                        border-left: 1px solid #ddd;
                        &:first-child {
                            border-left: none;
                        }
                    }
                    .details_text {
                        line-height: 24px;
                        padding: 6px 10px;
                        background: #fff;
                        min-height: 36px;
                        border-left: 1px solid #ddd;
                        p {
                            margin: 0;
                        }
                        #details_address_map {
                            height: 200px;
                            width: 100%;
                            margin: 0 -10px;
                            // display: none;
                        }
                    }
                    .event_pic {
                        overflow: hidden;
                        .event_pic_list {
                            float: left;
                            border: 1px solid #f1f1f1;
                            background: #fff;
                            margin: 0 6px 10px 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        text-align: center;
        background: #344052;
        height: 50px;
        padding: 0;
        margin: 0;
        button {
            height: 36px;
            border: none;
            width: 120px;
            margin-top: 7px;
            font-size: 16px;
        }
    }
}