/* Common Wrapper*/

html,body{
    height: 100%;
}

body {
    overflow: hidden;
    padding-top: 121px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        padding-top: 61px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #edf1f2;
}

.huge {
    font-size: 60px;
    line-height: normal;
}
    #wrapper,#page-wrapper {
        height: 100%;
    }
@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    #page-wrapper {
        padding: 0px;
    }
}


/* Top Navigation */


#wrapper .navbar,
#wrapper .nav {
    background-color: #344052;
    border-color: #080808;
}

.navbar-header{
    height: 60px;
}

#wrapper .navbar-inverse .navbar-brand {
    width :425px;
    font-size: 20px;
    height: 60px;
    background: url(/src/images/main/logo.png) no-repeat 15px center;
    background-size:  auto 30px;
}

.top-nav {
    padding: 0 15px;
}

#wrapper .navbar-brand img {
    display: inline-block;
    vertical-align: middle;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    padding: 15px 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #434e62;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #344052;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #434e62;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        left: 200px;
        width: 200px;
        margin-left: -200px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        /*padding-bottom: 40px;*/
    }
    .side-nav>li>a {
        border-left: 4px solid #344052;
        width: 200px;
    }
     /*{
        border-left: 4px solid #434e62;
        color: white;
        outline: none;
        background-color: #434e62 !important;
    }*/
    .side-nav li a:hover,
    .side-nav li a.active {
        border-left: 4px solid #58b7f7;
        color: white;
        outline: none;
        background-color: #434e62 !important;
    }
    /*.side-nav li a.active:before {
        content: '';
        height: 50px;
        width: 4px;
        float: left;
        background: #58b7f7;
        position: absolute;
        top: 0;
        left: 0;
    }*/
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}