$blue:#58b7f7;
$lightblue:#edf7ff;
$g9:#999;
$g3:#333;
$e3:#e3e3e3;
@mixin hidd {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin wrapper_border {
    border-bottom: 1px solid #cbccce;
    border-radius: 6px;
    box-shadow: 0px 1px 8px $e3;
}

html,
body {
    background-color: #edf1f2;
}

.page_bg_wrapper {
    background: #edf1f2;
    padding: 15px;
}

.search_item_wrapper {
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: #fff;
    @include wrapper_border;
    .search_title {
        line-height: 34px;
        .btn_wrapper {
            margin-top: 15px;
            padding: 0;
            text-align: center;
            color: $g9;
            .item {
                border: 1px solid $e3;
                cursor: pointer;
                padding: 0;
                &.active {
                    border-color: $blue;
                    background: $lightblue;
                    color: $blue;
                }
                &:hover {
                    background: $lightblue;
                }
                &:first-child {
                    border-right: none;
                    border-radius: 16px 0 0 16px;
                }
                &:last-child {
                    border-left: none;
                    border-radius: 0 16px 16px 0;
                }
            }
        }
        .right_wrapper {
            margin-top: 15px;
            .search_wrapper {
                margin-right: 250px;
                position: relative;
                .input_wrapper {
                    border-radius: 16px 0 0 16px;
                    height: 36px;
                    margin-right: 80px;
                    border: 1px solid $e3;
                    padding-left: 30px;
                    background: url(/src/images/common/icon_search.png) no-repeat 10px center;
                    input {
                        color: $g3;
                        float: left;
                        height: 34px;
                        width: 100%;
                        outline: none;
                        -webkit-appearance: none;
                        border: none;
                    }
                }
                .mybtn {
                    height: 36px;
                    color: white;
                    background: $blue;
                    border-radius: 0 16px 16px 0;
                    width: 80px;
                    float: right;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                }
            }
            .search_btn_right {
                margin-right: 15px;
                position: absolute;
                right: 0;
                top: 0;
                width: 220px;
                .more {
                    border: 1px solid $blue;
                    color: $blue;
                    cursor: pointer;
                    border-radius: 16px;
                    text-align: center;
                    width: 120px;
                    padding-right: 10px;
                    line-height: 34px;
                    float: right;
                    background: $lightblue url(/src/images/common/icon_down1.png) no-repeat 90px center;
                    &.active {
                        color: white;
                        background: $blue url(/src/images/common/icon_up1.png) no-repeat 90px center;
                    }
                }
                .search_reset {
                    height: 36px;
                    color: white;
                    background: $blue;
                    width: 80px;
                    text-align: center;
                    line-height: 36px;
                    border-radius: 18px;
                    float: left;
                    cursor: pointer;
                    &:hover {
                        background: #75c3fe;
                    }
                }
            }
        }
    }
    .more_item_wrapper {
        padding-top: 15px;
        display: none;
        .sub_wrapper {
            position: relative;
            border: 1px solid $e3;
            padding: 15px;
            background: #f7f7f7;
            .up_triangle {
                width: 0;
                height: 0;
                font-size: 0;
                border-width: 0 10px 10px;
                border-style: solid;
                border-color: transparent transparent #e3e2e2;
                position: absolute;
                right: 42px;
                top: -10px;
                i {
                    display: block;
                    width: 0;
                    height: 0;
                    border-width: 0 10px 10px;
                    border-style: solid;
                    border-color: transparent transparent #f7f7f7;
                    position: absolute;
                    top: 1px;
                    left: -10px;
                }
            }
            .son_wrapper {
                div {
                    overflow: hidden;
                }
                .line {
                    line-height: 32px;
                    position: relative;
                    overflow: hidden;
                    padding: 6px 0;
                    .title {
                        position: absolute;
                        width: 80px;
                        text-align: right;
                        color: #666;
                        &:after {
                            content: 'ï¼š';
                        }
                    }
                    .item_box {
                        margin-left: 95px;
                        b {
                            float: left;
                            font-weight: normal;
                            margin: 0 4px;
                        }
                        .item2 {
                            div {
                                display: none;
                                &.active {
                                    display: block;
                                }
                            }
                        }
                        .item {
                            float: left;
                            position: relative;
                            margin-right: 36px;
                            cursor: pointer;
                            &:last-of-type {
                                margin-right: 0;
                            }
                            &:hover {
                                color: $blue;
                            }
                            &.active {
                                color: $blue;
                            }
                            i {
                                padding-left: 8px;
                                font-size: 12px;
                            }
                        }
                        .date,
                        .peo_wrapper {
                            .itemBtn {
                                float: left;
                                position: relative;
                                margin-right: 36px;
                                cursor: pointer;
                                margin-left: 10px;
                                width: 54px;
                                text-align: center;
                                color: white;
                                background: $g9;
                                border-radius: 16px;
                                &.active {
                                    background: $blue;
                                }
                                &:hover {
                                    background: $blue;
                                    color: white;
                                }
                            }
                        }
                        .date {
                            float: left;
                            .diy {
                                &.active {
                                    color: $blue;
                                }
                            }
                            span {
                                float: left;
                            }
                            input {
                                line-height: 30px;
                                float: left;
                                height: 30px;
                                border: 1px solid $e3;
                                outline: none;
                                -webkit-appearance: none;
                                color: $g9;
                                padding-left: 8px;
                                width: 118px;
                                cursor: pointer;
                                background: #fff url(/src/images/common/icon_down2.png ) no-repeat 98px center;
                                background-size: 12px 6px;
                            }
                        }
                        .peo_wrapper {
                            float: left;
                            .peo_border {
                                background: #fff;
                                float: left;
                                border: 1px solid $e3;
                                height: 32px;
                                line-height: 30px;
                                width: 320px;
                                .peo_selected {
                                    @include hidd;
                                    padding-left: 10px;
                                    float: left;
                                    width: 280px;
                                    height: 30px;
                                    outline: none;
                                    -webkit-appearance: none;
                                    border: none;
                                    cursor: pointer;
                                }
                                .mybtn {
                                    cursor: pointer;
                                    float: right;
                                    width: 32px;
                                    height: 30px;
                                    background: url(/src/images/common/icon_plus.png) no-repeat center center;
                                }
                            }
                            .clear {
                                color: #999;
                                cursor: pointer;
                                margin-left: 10px;
                                &:hover {
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .btn_wrapper {
                position: relative;
                height: 20px;
                .clear {
                    cursor: pointer;
                    color: $blue;
                    float: right;
                    padding: 0 22px;
                    line-height: 18px;
                    background: url(/src/images/common/icon_clear.png) no-repeat 0 center;
                }
            }
        }
    }
}

.table_wrapper {
    @include wrapper_border;
    background: #fff;
    //font-size: 40px;
    text-align: center;
    //line-height: 400px;
    padding-bottom: 15px;
}